$darkGrey: #8b9898;
$lightGrey: rgba(242, 241, 238, 0.6);
$switchGrey: rgba(135, 131, 120, 0.3);
$hoverBlue: rgba(45, 156, 219, 0.2);
$red: rgb(235, 87, 87);
$blue: rgb(46, 170, 219);
$lightBlue: rgba(46, 170, 220, 0.5);
$softBlue: rgba(46, 170, 220, 0.15);
$text: #37352f;
$borderRadius: 3px;
