@import 'variables';

.switcher {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 15px;
   margin-left: 5px;
   margin-right: 5px;
}

.switcher__inputWrapper {
   position: relative;
   display: inline-block;
   width: 29px;
   height: 18px;
}

.switcher__text {
   font-size: 14px;
}

/* Hide default HTML checkbox */
.switcher__inputWrapper input {
   opacity: 0;
   width: 0;
   height: 0;
}

/* The slider */
.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: $switchGrey;
   -webkit-transition: 0.2s;
   transition: 0.2s;
}

.slider:before {
   position: absolute;
   content: '';
   height: 14px;
   width: 14px;
   left: 2px;
   bottom: 2px;
   background-color: white;
   -webkit-transition: 0.2s;
   transition: 0.2s;
}

input:checked + .slider {
   background-color: $blue;
}

input:checked + .slider:before {
   -webkit-transform: translateX(11px);
   -ms-transform: translateX(11px);
   transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 44px;
}

.slider.round:before {
   border-radius: 50%;
}
